PRIMARY_DB_NAME=headsup
CREWS_DB_NAME=ambulanc_web
DB_HOST=dbhosthere
DB_USER=dbuserhere
DB_PASSWORD=dbpasshere
WEBSITE_ACCESS_TOKEN=access restriction token
HERALD_TOKEN=randomstringhere
PORT=8080
TZ=America/New_York
CHOREBOT_VERIFICATION_TOKEN=chorebot token here
ENV=dev
LONGITUDE:logitudehere
LATITUDE:latitudehere
