body {
  font-family: "Sarabun", sans-serif;
}

#header {
  background-color: #333333;
  font-size: 36px;
  color: white;
  padding: 10px 0;

  #patch {
    height: 60px;
  }

  .datetime {
    text-align: right;
  }
}

#time {
  margin-left: 30px;
  color: #ddd;
}

.section {
  margin-top: 15px;
}

.section-heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #444;
  margin-bottom: 10px;
  line-height: 1;
}

#schedule {
  div:not(.section-heading) {
    padding: 0 15px;
  }

  .crew-member {
    margin: 15px auto;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .title {
      display: block;
      font-size: 30px;
      color: #444;
      text-transform: uppercase;
      line-height: 1;
    }

    .name {
      font-size: 60px;
      line-height: 1;
      font-weight: 600;
    }

    .rn {
      margin-left: 30px;
      font-size: 36px;
      color: #666;
    }

    .vacant {
      text-transform: uppercase;
      color: #888;
      font-size: 48px;

      &::before {
        content: "<";
      }

      &::after {
        content: ">";
      }
    }
  }
}

#call-volume {
  border-left: 1px solid rgba(0,0,0,.1);
  line-height: 1;

  #total-count {
    text-align: center;
    font-size: 180px;
  }

  #total-mishaps {
    text-align: center;
    font-size: 140px;
  }
}

#chores {
  font-size: 36px;
}

#notes p {
  font-size: 36px;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}